* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@keyframes toActive {
    from {
        top: 100%;
        opacity: 0;
    }
}


main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.item {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.item.active {
    display: block;
    background-color: var(--background);
}

.item .title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #fff;
    font-size: 12rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px #aaa;
}

.item .flavor {
    height: 80%;
    width: auto;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 3;
}

.item .soda {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 500px;
}


.arrows {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    z-index: 4;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translate(0px, -50%);
}

.arrows img {
    width: 40px;
    cursor: pointer;
    opacity: 0.6;
}

.arrows img:hover {
    opacity: 1;
}

.item .title,
.item .flavor {
    animation: toActive 0.5s ease-in-out 1;
}